@use '../../../styles/variables' as *;

.callback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 64px);
  gap: 16px;
  background: $spotify-black;

  p {
    color: $spotify-text-secondary;
    font-size: 16px;
  }

}