// Spotify Color Palette - All variables defined once
$spotify-black: #121212;
$spotify-dark: #181818;
$spotify-dark-secondary: #282828;
$spotify-green: #1DB954;
$spotify-green-hover: #1ed760;
$spotify-white: #ffffff;
$spotify-text-primary: #ffffff;
$spotify-text-secondary: #b3b3b3;
$spotify-text-muted: #6a6a6a;